.container{
  background-color: #181D31;
  width: 100vw;
  height: 100%;
}
.main{
  padding: 180px 40px 40px 140px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main h1{
  font-size: 5rem;
}
.main h3{
  color: grey;
  font-size: 40px;
}
.main p{
  font-size: 25px;
  color: grey;
}
.main button{
  width: 12rem;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  font-size: 20px;
  border: 1px solid  #97DECE;
  color:  #97DECE;
  border-radius: 10px;
  cursor: pointer;
}
/* .main button:hover{
  transition: 0.1s;
  border: 10px solid #97DECE;
} */

.line{
  background-color: gray;
  height: 2px;
  width: 20rem;
  margin: 30px;
}
.course{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.course p{
  font-size: 20px;
}
.play{
  display: flex;
  gap: 15px;
  align-items: center;
}
.play p{
    font-size: 22px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2,auto);
  width: 20rem;
  gap: 10px;
  color:  #97DECE;
}
.about{
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 30px;
}
.about img{
  border-radius: 10px;
  height: 50%;
  border:  2px solid  #97DECE;
}
.headline{
  display: flex;
  padding: 25px;
  margin-top: 10rem;
  margin-left: 10rem;
  color:  #97DECE;
}
.headline h1{
  font-size: 25px;
}
.experience{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding: 20px 10rem;
}
.expertise{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 33%;
    padding: 50px;
    color: white;
    border-right: 1px solid white;
}
.expertise h2{
  font-size: 25px;
  color: white;
}
.expertise p{
  font-size: 20px;
}
.btn{
  display: flex;
  align-items: center;
  gap: 30px;
}
.menuexpertise{
  gap: 15px;
  display: flex;
}
.topexpertise{
  margin: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-radius: 20px;
  border: 1px solid #97DECE;
}
 .topexpertise >* {
   border-right: 1px solid #97DECE;
 }

 .topexpertise> :last-child {
   border-right: none;
 }


@media screen and (max-width:1000px) {
  .main{
    padding: 10rem;
    text-align: center;
  }
}
@media screen and (max-width:835px) {
  .experience{
    margin-left: 20px;
  }
}
@media screen and (max-width:750px) {
 .about{
  flex-direction: column;
  align-items: center;
 }
 .course{
  width: 100%;
 }
 .about img{
  width: 60%;
 }
}
@media screen and (max-width:659px) {
  /* .about{
    flex-direction: column;
  } */
  .about img{
    width: 25rem;
    height:40rem;
  }
  .main{
    padding: 5rem;
  }
}
@media screen and (max-width:421px) {
  .about img{
    width: 20rem;
    height:30rem;
  }
  .main h1{
    font-size: 2rem;
  }
}

/* @media screen and (orientation:portrait) {
  .main{
    padding: 30px;
  }
  .aboutheadline{
    margin-left: 0px;
  }
  .line{
    display: none;
  }
  
  .about{
    flex-direction: column;
  }
  .headline{
    margin-left: 0px;
  }
  .experience{
    margin-left: 0px;
    padding: 20px;
    gap: 40px;
  }
  .headline{
    margin-top: 20px;
  }
} */